<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'import.html' %}

    <title>{% block title %} Home {% endblock %}</title>

</head>
<body>

    {% include 'components/navbar.html' %}

    <div class="container border-bottom mb-5">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">

            {% set navigation_bar = [
                ('/', 'home', 'Home'),
                ('/block', 'block', 'Block explorer'),
                ('/transaction', 'transaction', 'Transaction Explorer'),
                ('/dex', 'dex', 'DEX')
            ]%}
            
            {% for href, id, caption in navigation_bar %}
                <li class="nav-item"><a href="{{ href }}" 
                    {% if page == id %} class="nav-link active" 
                    {% else %} class="nav-link" 
                    {% endif %} >{{ caption }}</a></li>
            {% endfor %}
            </ul>
        </header>
    </div>

    <div class="content">
        {% if page %}
            {% include "components/" + page + ".html" %}
        {% endif %}
    </div>


</body>
</html>
