{% set network_mapping = {
    '1': {"name":'Main net', 'url': 'https://etherscan.io/'},
    '5' : {"name":'Goerli', 'url': 'https://sepolia.etherscan.io/'},
    '11155111': {"name":'Sepolia', 'url': 'https://sepolia.etherscan.io/'},
    '2018' : {"name":'Dev', 'url': 'https://sepolia.etherscan.io/'},
} %}

<div class="container user-info-container">
    {% if session['account'] %}
        <div class="user-info">
            <p><strong>Address:</strong> 
                <b> 
                    <a href="https://etherscan.io/address/{{ session['account'] }}", target="_blank">
                        {{ session['account'] }}
                    </a>
                </b>
            </p>
            <p>
                <strong>Network:</strong> 
                <b><a href="{{ network_mapping[session['networkId']]['url'] }}", target="_blank">
                {{ network_mapping[session['networkId']]['name'] }} </a></b></p>
            <p>
                <strong>Balance:</strong>
                <b>{{ value }} ETH</b></p>
        </div>
    {% else %}
        <strong>Please first, log in to your account.</strong>
    {% endif %}
</div>